extends ../layout

block content
  div(class="card")
    div(class="card-header") Detail pagina
    div(class="card-body")
     ul(class="list-group") 
      li(class="list-group-item")= 'Customer Id: ' + customer.customer_id
      li(class="list-group-item")= 'First Name: ' + customer.first_name
      li(class="list-group-item")= 'Last Name: ' + customer.last_name
      li(class="list-group-item")= 'Email: ' + customer.email
      li(class="list-group-item")= 'address_id: ' + customer.address_id
      li(class="list-group-item")= 'active: ' + customer.active
      li(class="list-group-item")= 'Created at: ' + customer.create_date
        